
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 50px;
    user-select: none;
}

body{
    background-color:#e0f2fe;
    z-index: -1;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    z-index: 1;
    position: sticky;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


header>*>*{
    flex: 1;
    font-weight: 600;
    font-size: 40px;
    color: white;
    background-color: #0284c7;
    border: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 16px;
    border-radius: 32px;
    box-shadow: 0px 5px 10px #6b797a38;
    margin: 16px;
}

header>*>*:hover{
    background-color: #025179;
    cursor: pointer;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color:#e0f2fe;
    margin: auto;
}
